.root-pane {
	-fx-background-color: white;
}

.title {
	-fx-font-size: 20pt;
	-fx-font-family: "Tahoma";
	-fx-font-weight: normal;
	-fx-fill: dodgerblue;
	-fx-smooth: true ;
	-fx-font-smoothing-type: lcd;
}

.common-text {
	-fx-font-size: 14pt;
	-fx-font-family: "Tahoma";
	-fx-font-weight: bold;
	-fx-fill: white;
	-fx-smooth: true ;
	-fx-font-smoothing-type: lcd;
	-fx-stroke-type:  outside ;
	-fx-stroke-width: 0.6;
	-fx-stroke: darkslategray ;
}

.selected-text {
	-fx-stroke-borders: dodgerblue  ;
	-fx-font-weight: bold;
	-fx-fill: springgreen ;
}