/**************************BUTTONS******************************/
/**************************COMMON***************************** */
.button {
	-fx-font-family: "Arial";
	-fx-font-size: 14;
	-fx-text-fill: white;
	-fx-font-weight: normal;
	-fx-background-color: transparent ;
}
.button:focused {
    -fx-background-color: transparent;
}
.button:hover {
	-fx-font-weight: bold;
}

.button-cost-add {
	-fx-graphic: url("img/addCost0.png");
}
.button-cost-add:hover {
    -fx-graphic: url("img/addCost1.png");
}

.button-cost-edit {
	-fx-graphic: url("img/findCost0.png");
}
.button-cost-edit:hover {
	-fx-graphic: url("img/findCost1.png");
}

.button-agent-add {
	-fx-graphic: url("img/addUsr0.png");
}
.button-agent-add:hover {
	-fx-graphic: url("img/addUsr1.png");
}

.button-cat-add {
	-fx-graphic: url("img/addCat0.png");	
}
.button-cat-add:hover {
	-fx-graphic: url("img/addCat1.png");
}

.button-close {
	-fx-graphic: url("img/close0.png");	
}
.button-close:hover {
	-fx-graphic: url("img/close1.png");	
}

.button-settings {
	-fx-graphic: url("img/settings0.png");	
}
.button-settings:hover {
	-fx-graphic: url("img/settings1.png");	
}

.button-agent-stat {
	-fx-graphic: url("img/usrStat0.png");	
}
.button-agent-stat:hover {
	-fx-graphic: url("img/usrStat1.png");	
}

.button-cat-stat {
	-fx-graphic: url("img/catStat0.png");	
}
.button-cat-stat:hover {
	-fx-graphic: url("img/catStat1.png");	
}

.button-stat {
	-fx-graphic: url("img/stat0.png");	
}
.button-stat:hover {
	-fx-graphic: url("img/stat1.png");	
}


.root-pane {
	-fx-background-radius: 30;
	-fx-border-radius: 30;
	-fx-border-color: black;
	-fx-border-width: 1;
	-fx-background-image: url("img/bg/bg5.png");
}

.pane {
	-fx-background-color: white;
	-fx-border-color: darkgrey;
	-fx-border-width: 0.7;
}

.title {
	-fx-font-size: 24pt;
	-fx-font-family: "Arial";
	-fx-font-weight: bold;
	-fx-fill: white;
	-fx-smooth: true ;
	-fx-font-smoothing-type: lcd;

}

.chart-helper-txt {
	-fx-font-size: 35pt;
	-fx-font-family: "Arial Narrow";
	-fx-font-weight: normal;
	-fx-fill: darkgrey;
	-fx-smooth: true ;
	-fx-font-smoothing-type: lcd;

}

.common-text {
	-fx-font-size: 16pt;
	-fx-font-family: "Arial Narrow";
	-fx-font-weight: normal;
	-fx-fill: black;
	-fx-smooth: true ;
	-fx-font-smoothing-type: lcd;
}

.key-text {
	-fx-font-size: 18pt;
	-fx-font-family: "Arial Narrow";
	-fx-font-weight: normal;
	-fx-fill: black;
	-fx-smooth: true ;
	-fx-font-smoothing-type: lcd;
}

.value-text {
	-fx-font-size: 18pt;
	-fx-font-family: "Arial Narrow";
	-fx-font-weight: bold;
	-fx-fill: black;
	-fx-smooth: true ;
	-fx-font-smoothing-type: lcd;
}


.selected-text {
	-fx-font-weight: bold;
	-fx-underline: true;
}

.grid {
    -fx-opacity: 1.0;
    -fx-background-color: transparent ;
    -fx-background-insets: 0.0 5.0 0.0 5.0;
    -fx-background-radius: 30;
	-fx-border-radius: 30;
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.table-view, .text-field, .combo-box, .text-area  {
	-fx-background-color: white;
	-fx-border-color: black;
	-fx-border-width: 1;
}

.combo-box-base .arrow-button {
    -fx-background-color: white;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 5 5 0, 0 4 4 0, 0 3 3 0;
    -fx-padding: 0.5em 0.416667em 0.5em 0.416667em; /* 6 5 6 5  */
}

.combo-box-base .arrow {
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-background-color: black;
    -fx-padding: 0.166667em 0.333333em 0.166667em 0.333333em; /* 2 4 2 4 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.radio-button .radio  {
   -fx-background-color: white, black, white;
   -fx-background-insets: 0 0 -1 0,  0,  1,  2;
   -fx-background-radius: 1.0em; /* large value to make sure this remains circular */
   -fx-padding: 0.333333em; /* 4 -- padding from outside edge to the inner black dot */
}


/*
 * BUTTON
 */



/* This is the area behind the column headers. An ideal place to specify background
   and border colors for the whole area (not individual column-header's). */
.table-view .column-header-background {
    -fx-background-color: white;
    -fx-padding: 0;
}

.table-view .scroll-bar:vertical{
    -fx-padding: 0.0 0.0 0.0 0.0;
    -fx-background-color: white;
}

.table-view .scroll-bar:horizontal{
    -fx-padding: 0.0 0.0 0.0 0.0;
    -fx-background-color: white;
}

.table-view .column-header{
	-fx-background-color: white;
}

.menu-text {
	-fx-font-size: 16pt;
	-fx-font-family: "Arial Narrow";
	-fx-font-weight: normal;
	-fx-fill: black;
	-fx-smooth: true ;
	-fx-font-smoothing-type: lcd;
}
	
.menu-text:hover {
	-fx-font-weight: bold;
}
