.root-pane {
	-fx-background-color: white;
}

.pane {
	-fx-background-color: white;
	-fx-border-color: darkgrey;
	-fx-border-width: 0.7;
}

.title {
	-fx-font-size: 24pt;
	-fx-font-family: "Arial Narrow";
	-fx-font-weight: normal;
	-fx-fill: dodgerblue;
	-fx-smooth: true ;
	-fx-font-smoothing-type: lcd;

}

.chart-helper-txt {
	-fx-font-size: 35pt;
	-fx-font-family: "Arial Narrow";
	-fx-font-weight: normal;
	-fx-fill: darkgrey;
	-fx-smooth: true ;
	-fx-font-smoothing-type: lcd;

}

.common-text {
	-fx-font-size: 16pt;
	-fx-font-family: "Arial Narrow";
	-fx-font-weight: normal;
	-fx-fill: black;
	-fx-smooth: true ;
	-fx-font-smoothing-type: lcd;
}

.key-text {
	-fx-font-size: 18pt;
	-fx-font-family: "Arial Narrow";
	-fx-font-weight: normal;
	-fx-fill: black;
	-fx-smooth: true ;
	-fx-font-smoothing-type: lcd;
}

.value-text {
	-fx-font-size: 18pt;
	-fx-font-family: "Arial Narrow";
	-fx-font-weight: bold;
	-fx-fill: black;
	-fx-smooth: true ;
	-fx-font-smoothing-type: lcd;
}


.selected-text {
	-fx-font-weight: bold;
	-fx-underline: true;
}

.grid {
    -fx-background-color: white;
    -fx-background-radius: 5.0;
    -fx-background-insets: 0.0 5.0 0.0 5.0;
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.button, .text-field, .combo-box, .text-area  {
	-fx-background-color: white;
	-fx-border-color: black;
	-fx-border-width: 1;
}

.combo-box-base .arrow-button {
    -fx-background-color: white;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 5 5 0, 0 4 4 0, 0 3 3 0;
    -fx-padding: 0.5em 0.416667em 0.5em 0.416667em; /* 6 5 6 5  */
}

.combo-box-base .arrow {
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-background-color: black;
    -fx-padding: 0.166667em 0.333333em 0.166667em 0.333333em; /* 2 4 2 4 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.radio-button .radio  {
   -fx-background-color: white, black, white;
   -fx-background-insets: 0 0 -1 0,  0,  1,  2;
   -fx-background-radius: 1.0em; /* large value to make sure this remains circular */
   -fx-padding: 0.333333em; /* 4 -- padding from outside edge to the inner black dot */
}


/*
 * BUTTON
 */

.button:focused {
    -fx-background-color: white;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius:  6.4, 5, 4, 3;
}

.button:hover {
    -fx-background-color: dodgerblue;
}



